body {background: #333;color: #fff;font-weight: 300;text-align: center;}

#bal {margin-top: 200px 0;padding: 100px 0;position: relative;}
#bal h2 {font-size: 18px;font-weight: 100;letter-spacing: 1em;margin-bottom: 10px;}
#bal p {font-size: 14px;font-weight: 100;margin-bottom: 20px;}
#bal .container {width: 640px;height: 640px;margin: 0 auto 10px auto;overflow: hidden;position: relative;}
#bal .case {position: absolute;top: 0;left: 0;}
#bal .btn {display: flex;justify-content: center;}
#bal .btn li {width: 30px;height: 30px;background: #fff;border-radius: 50%;margin: 0 5px;cursor: pointer;text-indent: 99999;}


.sun {position: absolute;top: 150px;left: 150px;animation: sunmove 2s infinite linear;}

.butterfly {position: absolute;bottom: 250px;left: 150px;animation: butterfly 10s linear both;}

.butterfly figure {animation: butterflys 1s infinite;}


@keyframes sunmove {
    to {transform:rotate(360deg)}
}

@keyframes butterflys {
    0% {transform:scaleX(0)}
    50% {transform:scaleX(1)}
    100% {transform:scaleX(0)}
}

@keyframes butterfly {
    0% {transform:translate(0, 0) rotate(45deg)}
    10% {transform:translate(100px, -100px) rotate(35deg)}
    20% {transform:translate(200px, -100px) rotate(45deg)}
    30% {transform:translate(300px, -100px) rotate(35deg)}
    40% {transform:translate(400px, -200px) rotate(25deg)}
    50% {transform:translate(500px, -200px) rotate(15deg)}
    60% {transform:translate(600px, -200px) rotate(5deg)}
    70% {transform:translate(700px, -100px) rotate(15deg)}
    80% {transform:translate(800px, -200px) rotate(25deg)}
    90% {transform:translate(900px, -200px) rotate(35deg)}
    100% {transform:translate(1000px, -300px) rotate(-45deg)}
}














