@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
body {min-width: 1900px;}
#wrap {color: #333;}
.container {width: 1200px;margin: 0 auto;}
.container>* {padding: 0 15px;}

/* * {outline: 1px solid #ff0;} */


#header {}
#header .container {width: 1200px;}
#header .top_nav {line-height: 50px;}
#header .top_nav ul {display: flex;justify-content: flex-end;}
#header .top_nav ul li a {display: block;padding: 0 25px;font-size: 13px;font-weight: 300;color: #666;}
#header .top_nav ul li:nth-child(5) a {padding: 0 0 0 25px;}
#header .top_nav:after {content: "";display: block;width: 100%;height: 1px;background: #ddd;position: absolute;top: 50px;left: 0;}

#header h1 a {display: block;width: 121px;height: 110px;background: url(../img/logo.png) no-repeat left center/121px;}
#header .bottom_nav {display: flex;justify-content: space-between;line-height: 110px;}
#header .gnb>ul {display: flex;}
#header .gnb>ul>li {position: relative;}
#header .gnb>ul>li>a {display: block;padding: 0 40px;font-size: 20px;}
#header .gnb>ul>li>a:after {content: "";display: block;width: 0;height: 3px;background: #EC3029;position: absolute;top: 110px;left: 0;z-index: 1000;transition: 0.4s;}
#header .gnb>ul>li:hover>a:after {width: 100%;}
#header .depthNav {height: 0;overflow: hidden;position: absolute;top: 100px;left: 0;width: 100%;padding: 10px 0 ;z-index: 999;transition: 0.4s;}
#header .depthNav a:hover {color: #EC3029;}
#header .gnb:before {content: "";display: block;width: 100%;height: 0;background: #fff;opacity: 0.5;position: absolute;top: 150px;left: 0;transition: 0.4s;z-index: 888;}
#header .gnb:hover .depthNav {height: 200px;}
#header .gnb:hover:before {height: 230px;}
#header .depthNav>li>a {display: block;line-height: 50px;text-align: center;width: 100%;}

#header .toggle i {cursor: pointer;}
#header .toggle i:before {content: "\e9c9";font-family: xeicon;font-size: 25px;}
#header .toggle i.oo:before {content: "\e9ca";font-family: xeicon;font-size: 25px;}





#main_visual {position: relative;height: calc(100vh - 160px);background: url(../img/visual_bg.jpg) no-repeat center center/cover;}
#main_visual .slogan {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-70%);width: 1200px;margin: 0 auto;padding: 0 15px;color: #333;}
#main_visual .slogan h2 {font-size: 35px;margin-bottom: 40px;letter-spacing: -0.05em;font-family: 'Noto Serif KR', serif;}
#main_visual .slogan p {font-size: 20px;font-weight: 100;line-height: 28px;letter-spacing: -0.025em;}
#main_visual .slider {position: absolute;top: 50%;right: 200px;transform: translateY(-50%);width: 750px}


#story {padding: 100px 0;text-align: center;}
#story h2 {font-size: 30px;letter-spacing: 0.05em;font-weight: 700;margin-bottom: 10px;}
#story p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
#story .case {position: relative;display: flex;justify-content: space-between;width: 1200px;margin: 0 auto;}
#story .con01 {padding: 60px 0 56px 0;}
#story .con01 strong {font-family: 'Noto Serif KR', serif;display: block;font-size: 30px;margin-bottom: 10px;}
#story .con01 strong:after {content: "";display: block;width: 1px;height: 25px;background: #EC3029;margin: 10px auto;}
#story .con01 span {font-size: 15px;font-weight: 300;line-height: 25px;}
#story .con01 em {font-family: 'Noto Serif KR', serif;font-size: 18px;font-weight: 500;line-height: 25px;}
#story .con02 {width: 400px;height: 400px;border-radius: 50%;overflow: hidden;}
#story .con02 figure {position: relative;}
#story .con02 .text {position: absolute;top: 150px;left: 50%;transform: translateX(-50%);color: #fff;}
#story .con02 figure strong {display: block;font-size: 24px;margin-bottom: 10px;}
#story .con02 figure span {display: block;font-size: 18px;font-weight: 300;width: 500px}

#story .list li {display: block;position: absolute;bottom: 150px;right: 80px;cursor: pointer;width: 60px;line-height: 60px;background: #777;color: #fff;border-radius: 50%;transition: 0.4s;}
#story .list li:nth-child(2) {transform: translate(-20px, 80px);}
#story .list li:nth-child(3) {transform: translate(-65px, 150px);}
#story .list li.on {background: #333;color: #fff;}




#menu {padding: 100px 0;background: url(../img/menu_bg.jpg) no-repeat center center/cover;text-align: center;height: 100vh;}
#menu h2 {font-size: 30px;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 10px;}
#menu p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
#menu .case {display:flex;position: relative;}
#menu .m_slide {flex:1;border-radius: 50%;overflow: hidden;background: #fff;}
#menu .bar {flex:1;overflow: hidden;}
#menu .bar:before {content: "";display: block;width: 1px;height: 100px;background: #999;position: absolute;top: 20px;right: 307px;}
#menu .bar:after {content: "";display: block;width: 1px;height: 100px;background: #999;position: absolute;bottom: 50px;right: 307px;}
#menu .m_slide img {width: 100%;}
#menu .text {padding: 160px 0;}
#menu .text span {display: block;font-size: 25px;font-weight: 500;margin-bottom: 20px;}
#menu .text strong {display: block;font-size: 18px;font-weight: 300;line-height: 24px;margin-bottom: 40px;}
#menu .text a {display: block;width: 170px;line-height: 50px;font-size: 20px;font-weight: 500;background: #fff;border: 1px solid #333;margin: 0 auto;transition: 0.4s;}
#menu .text a:hover {background: #333;color: #fff;}
#menu .text i {vertical-align: baseline;}



#sauce {position: relative;padding: 100px 0;text-align: center;overflow: hidden;}
#sauce h2 {font-size: 30px;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 10px;}
#sauce p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
#sauce .container {margin-bottom: 40px;}
#sauce .s_slide01 {display: flex;}
#sauce .so {position: relative;display: flex;flex-wrap: wrap;width: 370px;height: 400px;background: url(../img/menu_bg.jpg) 500px;border: 1px solid #ddd;border-radius: 30px;margin: 0 15px;}
#sauce .so figure {padding: 10px 0;margin: auto;}
#sauce .so img {width: 80px;margin-bottom: 5px;}
#sauce .so strong {display: block;font-weight: 400;}
#sauce .so i {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

#sauce .sauce1 figure:nth-child(1) {width: 100%;height: 60px;}
#sauce .sauce1 figure:nth-child(3) {width: 100px;height: 150px;}
#sauce .sauce1 figure:nth-child(4) {width: 100px;height: 150px;}
#sauce .sauce2 figure:nth-child(1) {width: 130px;height: 60px;}
#sauce .sauce2 figure:nth-child(2) {width: 130px;height: 60px;}
#sauce .sauce2 figure:nth-child(4) {width: 100px;height: 150px;}
#sauce .sauce2 figure:nth-child(5) {width: 100px;height: 150px;}


#sauce .s_slide02 {position: absolute;top: 50%;left: 0;transform: translateY(-50%);z-index: -1;}
#sauce .s_slide02 figure {width:150px;padding:0 15px;}
#sauce .s_slide02 img {width: 100%;}



#donate {padding: 150px;background: url(../img/dona_bg.jpg) no-repeat center center/cover;background-attachment: fixed;text-align: center;color: #fff;}
#donate h2 {font-size: 30px;font-weight: 500;margin-bottom: 10px;text-shadow: 0 0 2px #333;}
#donate p {font-size: 20px;font-weight: 300;margin-bottom: 10px;letter-spacing: -0.05em;text-shadow: 0 0 2px #333;}
#donate p:after {content: "";display: block;width: 1px;height: 25px;background: #EC3029;margin: 10px auto;}
#donate strong {display: block;margin-bottom: 40px;letter-spacing: -0.05em;line-height: 20px;font-weight: 100;text-shadow: 0 0 2px #333;}
#donate a {display: block;width: 170px;line-height: 50px;font-size: 20px;font-weight: 500;color: #333;background: #fff;border: 1px solid #333;margin: 0 auto;transition: 0.4s;}
#donate a:hover {background: #333;color: #fff;}
#donate i {vertical-align: baseline}



#info {padding: 100px 0;}
#info .container {display: flex;}
#info .con01 {flex: 1;text-align: center;}
#info .con01 h2 {font-size: 30px;font-weight: 700;margin-bottom: 10px;}
#info .con01 p {font-size: 18px;font-weight: 300;margin-bottom: 10px;letter-spacing: -0.05em;}
#info .con01 p:after {content: "";display: block;width: 1px;height: 25px;background: #EC3029;margin: 10px auto;}
#info .con01 strong {display: block;margin-bottom: 40px;letter-spacing: -0.05em;font-weight: 300;line-height: 20px;}
#info .btn {display: flex;justify-content: center;}
#info a {display: block;width: 170px;line-height: 50px;font-size: 20px;font-weight: 500;background: #fff;border: 1px solid #333;margin: 0 15px;transition: 0.4s;}
#info a:hover {background: #333;color: #fff;}
#info i {vertical-align: baseline;}

#info .con02 {display: flex;flex: 1;justify-content: center;}
#info .con02 figure {padding: 0 15px;}
#info .con02 img {width: 200px;}



#footer {position: relative;background: #333;color: #f4f4f4;}
#footer .f_top {line-height: 90px;}
#footer .f_top ul {display: flex;}
#footer .f_top ul li a {display: block;padding: 0 30px;font-weight: 300;}
#footer .f_top ul li:first-child a {padding: 0 30px 0 0;}
#footer .f_top:after {content: "";display: block;width: 100%;height:1px;background: #666;position: absolute;top: 90px;left: 0;}

#footer .f_bottom {display: flex;padding: 40px 0 ;}
#footer .f_bottom .f_logo {padding: 5px 0 0 0;}
#footer .f_bottom .business {padding: 0 70px;}
#footer .f_bottom .business strong {display: block;font-size: 15px;font-weight: 300;line-height: 20px;margin-bottom: 23px;}
#footer .f_bottom .business span {display: block;font-size: 13px;font-weight: 300;letter-spacing: 0.05em;}
#footer .f_bottom .call {margin-left: auto;text-align: right;}
#footer .f_bottom .call strong {display: block;font-size: 13px;font-weight: 300;margin-bottom: 5px;}
#footer .f_bottom .call span {display: block;font-size: 24px;letter-spacing: 0.05em;margin-bottom: 5px;margin-bottom: 15px;border: 2px solid #666;padding: 5px;}
#footer .f_bottom .call .sns {font-size: 27px;}


.mopen {display: none;}






/* toggle */
#wrap.oo {background: #333;color: #fff;}


#wrap.oo #header .top_nav ul li a {color: #f4f4f4;}
#wrap.oo #header .top_nav:after {background: #666;}
#wrap.oo #header h1 a {display: block;width: 121px;height: 110px;background: url(../img/logoW.png) no-repeat left center/121px;}
#wrap.oo #header .gnb:before {background: #333;opacity: 0.7;}


#wrap.oo #main_visual {position: relative;height: calc(100vh - 160px);background: url(../img/visual_bg.jpg) no-repeat center center/cover;background-color: #666;background-blend-mode: multiply;}
#wrap.oo #main_visual .slogan {color: #fff;}

#wrap.oo #story .list strong {display: block;width: 60px;line-height: 60px;background: #fff;color: #333;border-radius: 50%;}
#wrap.oo #story .list li.on strong {background: #EC3029;color: #fff;}


#wrap.oo #menu {padding: 100px 0;background-image: url(../img/menu_bg.jpg) no-repeat center center/cover;background-color: rgba(51, 51, 51, 0.568);background-blend-mode: multiply;text-align: center;height: 100vh;}
#menu p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
#wrap.oo #menu .bar:before {background: #ccc;}
#wrap.oo #menu .bar:after {background: #ccc;}
#wrap.oo #menu .text a {background: #333;color: #f2f2f2;border: none;}
#wrap.oo #menu .text a:hover {background: #fff;color: #333;}

#wrap.oo #sauce .so {background: url(../img/menu_bg.jpg) 500px;background-color: rgba(51, 51, 51, 0.568);background-blend-mode: multiply;border: 1px solid #888;}


#wrap.oo #donate a {color: #fff;background: #333;border: none;}
#wrap.oo #donate a:hover {background: #fff;color: #333;}


#wrap.oo #info a {background: #333;border: 1px solid #ddd;color: #fff;margin: 0 15px;}
#wrap.oo #info a:hover {background: #fff;color: #333;}

#wrap.oo #footer {background: #444;color: #fff;}
#wrap.oo #footer .f_top:after {background: #888;}













@media (max-width:768px) {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
    body {min-width: auto;}
    #wrap {color: #333;overflow: hidden;}
    .container {width: auto;margin: 0 auto;}
    .container>* {padding: 0 15px;}

    /* * {outline: 1px solid #ff0;} */


    #header {position: fixed;top: 0;left: -100%;background: #fff;width: calc(100% - 80px);height: 100vh;border-right: 1px solid #ddd;transition: 0.4s;z-index: 999;}
    #header.on {left: 0;}
    #header .container {width: auto;}
    #header .top_nav {line-height: 80px;padding: 0 20px;}
    #header .top_nav ul {display: flex;justify-content: space-between;}
    #header .top_nav ul li a {display: block;padding: 0 5px;font-size: 11px;font-weight: 300;color: #666;}
    #header .top_nav ul li:nth-child(5) a {padding: 0 0 0 10px;}
    #header .top_nav:after {content: "";display: none;width: 100%;height: 1px;background: #ddd;position: absolute;top: 50px;left: 0;}

    #header h1 {padding: 0 40px;margin-bottom: 20px;}
    #header h1 a {display: block;width: 121px;height: 110px;background: url(../img/logo.png) no-repeat left center/121px;}
    #header .bottom_nav {display: flex;flex-direction: column;justify-content: space-between;line-height: 35px;}
    #header .gnb>ul {display: flex;flex-direction: column;}
    #header .gnb>ul>li {position: relative;}
    #header .gnb>ul>li>a {display: block;padding: 0 40px;font-size: 16px;}
    #header .gnb>ul>li>a:after {content: "";display: block;width: 0;height: 3px;background: #EC3029;position: absolute;top: 110px;left: 0;z-index: 1000;transition: 0.4s;}
    #header .gnb>ul>li:hover>a:after {display: none;width: 100%;}
    #header .depthNav {display: none;height: auto;overflow: hidden;position: static;top: 100px;left: 0;width: 100%;padding: 0px 0;border-top: 2px solid #EC3029;z-index: 999;transition: none;background: #f4f4f4;}
    #header .depthNav a:hover {display: block;color: #EC3029;}
    #header .gnb:before {content: "";display: block;width: 100%;height: 0;background: #fff;opacity: 0.5;position: absolute;top: 150px;left: 0;transition: 0.4s;z-index: 888;}
    #header .gnb:hover .depthNav {display: none;height: auto;}
    #header .gnb:hover:before {display: none;height: 230px;}
    #header .depthNav>li>a {display: block;line-height: 40px;text-align: left;width: 100%;padding: 0 70px;font-size: 13px;}

    #header .toggle i {cursor: pointer;padding: 0 40px;}
    #header .toggle i:before {content: "\e9c9";font-family: xeicon;font-size: 25px;}
    #header .toggle i.oo:before {content: "\e9ca";font-family: xeicon;font-size: 25px;}





    #main_visual {position: relative;height: calc(100vh - 160px);background: url(../img/visual_bg.jpg) no-repeat center center/cover;}
    #main_visual .slogan {position: absolute;top: 35%;left: 50%;transform: translate(-50%,-70%);width: auto;margin: 0 auto;padding: 0 15px;color: #333;width: 100%;text-align: center;}
    #main_visual .slogan h2 {font-size: 5vw;margin-bottom: 40px;letter-spacing: -0.05em;font-family: 'Noto Serif KR', serif;}
    #main_visual .slogan p {font-size: 3vw;font-weight: 100;line-height: 4vw;letter-spacing: -0.025em;}
    #main_visual .slider {position: absolute;top: 65%;left: 50%;transform: translate(-50%, -50%);width: 500px;}


    #story {padding: 100px 0;text-align: center;}
    #story h2 {font-size: 30px;letter-spacing: 0.05em;font-weight: 700;margin-bottom: 10px;}
    #story p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
    #story .case {position: relative;display: flex;flex-direction: column;justify-content: space-between;width: auto;margin: 0 auto;}
    #story .con01 {padding: 60px 0 56px 0;}
    #story .con01 strong {font-family: 'Noto Serif KR', serif;display: block;font-size: 4.5vw;margin-bottom: 10px;}
    #story .con01 strong:after {content: "";display: block;width: 1px;height: 25px;background: #EC3029;margin: 10px auto;}
    #story .con01 span {font-size: 3.4vw;font-weight: 300;line-height: 1.4;}
    #story .con01 em {font-family: 'Noto Serif KR', serif;font-size: 16px;font-weight: 500;line-height: 25px;}
    #story .con02 {width: 300px;height: 300px;border-radius: 50%;overflow: hidden;margin: 0 auto;}
    #story .con02 figure {position: relative;}
    #story .con02 .text {position: absolute;top: 100px;left: 150px;color: #fff;}
    #story .con02 figure strong {display: block;font-size: 24px;margin-bottom: 10px;}
    #story .con02 figure span {display: block;font-size: 18px;font-weight: 300;width: 500px}

    #story .list {display: flex;justify-content: center;}
    #story .list li {position: static;bottom: 40px;right: -50px;cursor: pointer;margin: 20px 15px;}
    #story .list li:nth-child(2) {transform: none;}
    #story .list li:nth-child(3) {transform: none;}
    #story .list strong {display: block;width: 45px;line-height: 45px;background: #777;color: #fff;border-radius: 50%;}
    #story .list li.on strong {background: #333;color: #fff;}




    #menu {padding: 100px 0;background: url(../img/menu_bg.jpg) no-repeat center center/cover;text-align: center;height: 100vh;}
    #menu h2 {font-size: 30px;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 10px;}
    #menu p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
    #menu .case {display:flex;flex-direction: column;position: relative;}
    #menu .m_slide {flex: 1;border-radius: 50%;overflow: hidden;background: #fff;height: 50%;width: 50%;margin: 0 auto;}
    #menu .bar {flex: 1;overflow: hidden;}
    #menu .bar:before {content: "";display: none;width: 1px;height: 100px;background: #999;position: absolute;top: 20px;right: 307px;}
    #menu .bar:after {content: "";display: none;width: 1px;height: 100px;background: #999;position: absolute;bottom: 50px;right: 307px;}
    #menu .m_slide img {width: 100%;}
    #menu .text {padding: 40px 0;}
    #menu .text span {display: block;font-size: 25px;font-weight: 500;margin-bottom: 20px;}
    #menu .text strong {display: block;font-size: 4vw;font-weight: 300;line-height: 24px;margin-bottom: 40px;}
    #menu .text a {display: block;width: 170px;line-height: 50px;font-size: 20px;font-weight: 500;background: #fff;border: 1px solid #333;margin: 0 auto;}
    #menu .text i {vertical-align: baseline;}



    #sauce {padding: 100px 0;text-align: center;overflow: hidden;}
    #sauce h2 {font-size: 30px;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 10px;}
    #sauce p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
    #sauce .container {margin-bottom: 40px;}
    #sauce .s_slide01 {display: flex;flex-direction: column;width: 300px;height: 300px;margin: 0 auto;}
    #sauce .so {position: relative;display: flex;flex-wrap: wrap;width: 300px;height: 300px;background: url(../img/menu_bg.jpg) 500px;border: 1px solid #ddd;border-radius: 100px;margin: 0 auto;}
    #sauce .so figure {padding: 10px 0;margin: 0 auto;}
    #sauce .so img {width: 50px;margin: 0 auto 5px auto}
    #sauce .so strong {display: block;font-weight: 300;}
    #sauce .so i {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

    #sauce .sauce1 figure:nth-child(1) {width: 100%;height: 50%;padding: 40px 0;}
    #sauce .sauce1 figure:nth-child(3) {width: 50%;height: 50%;padding: 30px 0;}
    #sauce .sauce1 figure:nth-child(4) {width: 50%;height: 50%;padding: 30px 0;}
    #sauce .sauce2 figure:nth-child(1) {width: 50%;height: 50%;padding: 40px 0;}
    #sauce .sauce2 figure:nth-child(2) {width: 50%;height: 50%;padding: 40px 0;}
    #sauce .sauce2 figure:nth-child(4) {width: 50%;height: 50%;padding: 30px 0;}
    #sauce .sauce2 figure:nth-child(5) {width: 50%;height: 50%;padding: 30px 0;}
    #sauce .sauce3 figure:nth-child(1) {width: 100%;height: 50%;padding: 30px 0;}
    #sauce .sauce3 figure:nth-child(2) {width: 100%;height: 50%;padding: 30px 0;}



    #sauce .s_slide02 {position: absolute;top: 50%;left: 0;transform: translateY(-50%);z-index: -1;}
    #sauce .s_slide02 figure {width:150px;padding:0 15px;}
    #sauce .s_slide02 img {width: 100%;}



    #donate {padding: 150px 0;background: url(../img/dona_bg.jpg) no-repeat center center/cover;background-attachment: fixed;text-align: center;color: #fff;}
    #donate h2 {font-size: 30px;font-weight: 500;margin-bottom: 10px;text-shadow: 0 0 2px #333;}
    #donate p {font-size: 20px;font-weight: 300;margin-bottom: 10px;letter-spacing: -0.05em;text-shadow: 0 0 2px #333;}
    #donate p:after {content: "";display: block;width: 1px;height: 25px;background: #EC3029;margin: 10px auto;}
    #donate strong {display: block;margin-bottom: 40px;font-size: 3vw;letter-spacing: -0.05em;line-height: 1.4;font-weight: 100;text-shadow: 0 0 2px #333;}
    #donate a {display: block;width: 170px;line-height: 50px;font-size: 20px;font-weight: 500;color: #333;background: #fff;border: 1px solid #333;margin: 0 auto;}
    #donate i {vertical-align: baseline}



    #info {padding: 100px 0;}
    #info .container {display: flex;flex-direction: column;}
    #info .con01 {flex: 1;text-align: center;margin-bottom: 20px;}
    #info .con01 h2 {font-size: 30px;font-weight: 700;margin-bottom: 10px;}
    #info .con01 p {font-size: 3.9vw;font-weight: 300;margin-bottom: 10px;letter-spacing: -0.05em;}
    #info .con01 p:after {content: "";display: block;width: 1px;height: 25px;background: #EC3029;margin: 10px auto;}
    #info .con01 strong {display: block;margin-bottom: 40px;font-size: 3vw;letter-spacing: -0.05em;font-weight: 300;line-height: 18px;}
    #info .btn {display: flex;justify-content: center;}
    #info a {display: block;width: 170px;line-height: 50px;font-size: 20px;font-weight: 500;background: #fff;border: 1px solid #333;margin: 0 15px;}
    #info i {vertical-align: baseline;}

    #info .con02 {display: flex;flex: 1;justify-content: center;}
    #info .con02 figure {padding: 0 15px;}
    #info .con02 img {width: 150px;}



    #footer {position: relative;background: #333;color: #f4f4f4;}
    #footer .f_top {line-height: 90px;width: 100%;padding: 0 15px;}
    #footer .f_top ul {display: flex;justify-content: space-between;}
    #footer .f_top ul li a {display: block;padding: 0 5px;font-weight: 300;font-size: 13px;}
    #footer .f_top ul li:first-child a {padding: 0 5px;}
    #footer .f_top:after {content: "";display: block;width: 100%;height:1px;background: #666;position: absolute;top: 90px;left: 0;}

    #footer .f_bottom {display: flex;flex-direction: column;padding:50px 0 ;}
    #footer .f_bottom .f_logo {padding: 0;margin: 0 auto;margin-bottom: 20px;}
    #footer .f_bottom .f_logo img {width: 180px;}
    #footer .f_bottom .business {padding: 0 0;}
    #footer .f_bottom .business strong {display: block;font-size: 13px;font-weight: 100;letter-spacing: -0.05em;line-height: 19px;margin-bottom: 23px;text-align: center;}
    #footer .f_bottom .business span {display: block;font-size: 11px;font-weight: 100;letter-spacing: 0.05em;text-align: center;margin-bottom: 30px;}
    #footer .f_bottom .call {display: flex;flex-flow: column wrap;margin: 0 auto;text-align: center;}
    #footer .f_bottom .call strong {display: block;font-size: 13px;font-weight: 300;margin-bottom: 10px;}
    #footer .f_bottom .call span {display: block;font-size: 24px;letter-spacing: 0.05em;margin-bottom: 5px;margin-bottom: 15px;border: 2px solid #666;padding: 5px;}
    #footer .f_bottom .call .sns {font-size: 30px;}


    .mopen {position: fixed;top: 30px;right: 20px;display: block;font-size: 0;}
    .mopen:before {content: "\e94a";font-family: xeicon;display: block;font-size: 20px;padding: 5px;border-radius: 50%;background: #fff;}
    .mopen.on:before {content: "\e93b";}




    /* toggle */
    #wrap.oo {background: #333;color: #fff;}


    #wrap.oo #header {background: #444;border-right: 1px solid #333;}

    #wrap.oo #header .top_nav ul li a {color: #f4f4f4;}
    #wrap.oo #header .top_nav:after {background: #666;}
    #wrap.oo #header h1 a {display: block;width: 121px;height: 110px;background: url(../img/logoW.png) no-repeat left center/121px;}
    #wrap.oo #header .gnb:before {background: #333;opacity: 0.7;}
    #wrap.oo #header .depthNav {background: #555;}

    
    #wrap.oo #main_visual {background-color: #666;background-blend-mode: multiply;}
    #wrap.oo #main_visual .slogan {color: #fff;}


    #wrap.oo #story .list {display: flex;position: absolute;bottom: 40px;right: -50px;cursor: pointer;}
    #wrap.oo #story .list li:nth-child(2) {transform: translate(0, 60px);}
    #wrap.oo #story .list li:nth-child(3) {transform: translate(0, 120px);}
    #wrap.oo #story .list strong {display: block;width: 45px;line-height: 45px;background: #999;color: #fff;border-radius: 50%;}
    #wrap.oo #story .list li.on strong {background:#EC3029;color: #fff;}



    #wrap.oo #menu {padding: 100px 0;background-image: url(../img/menu_bg.jpg) no-repeat center center/cover;background-color: rgba(51, 51, 51, 0.568);background-blend-mode: multiply;text-align: center;height: 100vh;}
    #menu p {font-size: 20px;font-weight: 300;margin-bottom: 40px;}
    #wrap.oo #menu .bar:before {background: #ccc;}
    #wrap.oo #menu .bar:after {background: #ccc;}
    #wrap.oo #menu .text a {background: #333;color: #f2f2f2;border: none;}


    #wrap.oo #sauce .so {background: url(../img/menu_bg.jpg) 500px;background-color: rgba(51, 51, 51, 0.568);background-blend-mode: multiply;border: 1px solid #888;}


    #wrap.oo #info a {background: #333;border: 1px solid #ddd;color: #fff;margin: 0 15px;}


    #wrap.oo #footer {background: #444;color: #fff;}
    #wrap.oo #footer .f_top:after {background: #888;}


    #wrap.oo .mopen:before {content: "\e94a";font-family: xeicon;display: block;font-size: 20px;padding: 5px;border-radius: 50%;background: #fff;color: #333;}
}