@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --mc:#d7eaff;
    --sc:#56628F;
    --lc:#fff;
    --dc:#444444;
    --gc:#dddddd;
}

html {font-size: 20px;}
body {font-size: 0.8rem;color: var(--dc);}



#Wrap {min-width: 95rem;}



#header h1 {position: fixed;top: 3rem;left: 3rem;z-index: 999;}
#header h1 a {display: block;width: 15rem;}



/* * {outline: 1px solid #ff0;} */



#header nav {position: fixed;top: 50%;right: 3rem;transform: translateY(-50%);z-index: 888;}
#header .cover_btn {position: fixed;top: 3rem;right: 3rem;width: 2rem;height: 2rem;cursor: pointer;z-index: 999;}
#header .cover_btn span {position: absolute;top: 0;right: 0;display: block;font-size: 0;text-indent: -999999rem;background: var(--dc);width: 2rem;height: 0.1rem;transition: 0.3s;}

#header .cover_btn span.on {background: var(--lc);}

#header .cover_btn span:nth-child(2) {top: 1rem;}
#header .cover_btn span:nth-child(3) {top: 1rem;}
#header .cover_btn span:nth-child(4) {top: 2rem;}

#header .cover_btn.on span:nth-child(1) {opacity: 0;}
#header .cover_btn.on span:nth-child(2) {transform: rotate(45deg);}
#header .cover_btn.on span:nth-child(3) {transform: rotate(-45deg);}
#header .cover_btn.on span:nth-child(4) {opacity: 0;}






#header nav li a {position: relative;display: block;width: 1rem;height: 1rem;text-indent: -9999px;}
#header nav li a:after {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);display: block;width: 0.2rem;height: 0.2rem;background: var(--dc);border-radius: 50%;transition: 0.3s;}
#header nav li.on a:after {width: 0.5rem;height: 0.5rem;}

.intro {background-color: var(--mc);}
.intro .intro_container {display: flex;align-items: center;position: relative;width: 60rem;margin: 0 auto;padding: 0 0.75rem;}
.intro .slogan {}
.intro .slogan span {font-size: 0.95rem;letter-spacing: 0.05em;line-height: 1.4;}
.intro .slogan h2 {font-size: 5rem;font-weight: 900;margin-bottom: 5rem;text-indent: -7px;}

.intro .introduce {}
.intro .main_me {position: relative;width: 17rem;margin-left: auto;z-index: 1;}
.intro .main_me img {width: 100%;transform: translateX(-10rem);opacity: 0;}
.intro .main_me pre {position: absolute;top: -2rem;right: 0;transform: translateX(10rem);opacity: 0;width: 17rem;height: 17rem;border-radius: 50%;overflow: hidden;font-family: 'Open Sans', sans-serif;font-size: 0.75rem;z-index: -1;}


.intro.on .main_me img {transform: translateX(0);opacity: 1;transition: 0.5s;}
.intro.on .main_me pre {transform: translateX(0);opacity: 1;transition: 0.5s;}


.intro .wheel {position: absolute;bottom: 3rem;left: 50%;transform: translateX(-50%);width: 1.5rem;height: 2.5rem;border: 2px solid var(--dc);font-size: 0;border-radius: 0.7rem;opacity: 0.5;}
.intro .wheel span {position: absolute;top: 0.3rem;left: 50%;transform: translateX(-50%);width: 0.2rem;height: 0.5rem;background: var(--dc);border-radius: 0.1rem;animation: wheel 0.8s infinite;}

@keyframes wheel {
    to {top: 0.6rem}
}




/* --------------------- */




.pf {height: 100vh;overflow: hidden;background-color: #fff7e0;}
.pf .container {display: flex;align-items: center;width: 70rem;margin: 0 auto;height: 100%;}

.pf .m_img {display: none;}

.pf .text {flex: 1;padding: 7.5rem 0;}
.pf .text h2 {display: inline-block;font-size: 1.85rem;font-weight: 700;}
.pf .text h2 span {display: inline-block;font-size: 1rem;font-weight: 100;margin-right: 0.5rem;}
.pf .text strong {display: inline-block;font-size: 0.75rem;font-weight: 300;margin: 0 0 3rem 1.5rem;}

.pf .text dl {margin-bottom: 0.75rem;}
.pf .text dt {display: inline-block;width: 5rem;font-size: 0.95rem;}
.pf .text dd {display: inline-block;font-weight: 300;}
.pf .text dd br {display: none;}

.pf .text .color {margin-bottom: 4rem;}
.pf .text .color dt {display: inline-block;margin-bottom: 1rem;vertical-align: top;}
.pf .text .color dd {padding: 0 0.75rem;}
.pf .text .color dd:nth-of-type(1) {padding: 0 0.75rem 0 0;}
.pf .text .color dd em {display: block;width: 3rem;height: 3rem;background: #FFBA00;border-radius: 50%;margin-bottom: 0.4rem;}
.pf .text .color dd:nth-of-type(2) em {background: #335577;}

.pf .text p {line-height: 1.4;font-weight: 300;margin-bottom: 2rem;}

.pf .text ul {display: flex;gap: 1rem;}
.pf .text ul li a {display: block;text-align: center;font-size: 0.95rem;background: var(--lc);width: 8rem;line-height: 3rem;}



.pf .pageImg {position: relative;flex: 1;height: 100%;}
.portfolio_01 .pageImg:before {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(20deg);width: 90%;height: 200%;background-image: url(../img/main_jeep.png);background-position: center center;background-size: 100%;}



.portfolio_02 {background: #ffeceb;}
.portfolio_02 .text .color dd em {background: #EC3029;}
.portfolio_02 .pageImg .hot_mock01 {position: absolute;top: 50%;left: -20%;transform: translateY(-50%);}
.portfolio_02 .pageImg .hot_mock01 img {width: 44rem;}
.portfolio_02 .pageImg .hot_mock02 {position: absolute;top: 36%;left: -18%;}
.portfolio_02 .pageImg .hot_mock02 img {width: 10rem;}



.portfolio_03 {background: #fff5f9;}
.portfolio_03 .text .color dd em {background: #fed4e2;}
.portfolio_03 .text .color dd:nth-of-type(2) em {background: #F4F4F4;border: 1px solid var(--gc);}
.portfolio_03 .pageImg:before {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(20deg);width: 90%;height: 200%;background-image: url(../img/main_alloso.png);background-position: center center;background-size: 100%;}



.portfolio_04 {background: #ffefe2;}
.portfolio_04 .text .color dd em {background: #4E433B;}
.portfolio_04 .text .color dd:nth-of-type(2) em {background: #9E876B;}
.portfolio_04 .pageImg .hot_mock01 {position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
.portfolio_04 .pageImg .hot_mock01 img {width: 35rem;}



.portfolio_05 {background: #e9f4ff;}
.portfolio_05 .text .color dd em {background: #003976;}
.portfolio_05 .text .color dd:nth-of-type(2) em {background: #2D4F3F;}
.portfolio_05 .pageImg:before {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(20deg);width: 90%;height: 200%;background-image: url(../img/main_school.png);background-position: center center;background-size: 100%;}








.etc {height: 100vh;overflow: hidden;background: var(--gc);}
.etc .container {display: flex;justify-content: space-between;align-items: center;width: 70rem;margin: 0 auto;height: 100%;}
.etc .container .case {background: var(--lc);padding: 2rem 1rem;border-radius: 1rem;}
.etc h2 {display: inline-block;font-size: 1.85rem;font-weight: 700;margin-bottom: 1rem;}
.etc h2 span {display: inline-block;font-size: 1rem;font-weight: 100;margin-right: 0.5rem;}

.etc .case figure {position: relative;width: 15rem;height: 10rem;overflow: hidden;margin-bottom: 1rem;border: 1px solid var(--gc);border-radius: 0.6rem;}
.etc .case figure img {position: absolute;top: 0;left: 0;width: 100%;}
.etc .case figure:hover img {transform: translateY(-100%);top: 100%;transition: 3s;}

.etc .text {padding: 0 1rem;}
.etc .text dl {margin-bottom: 0.75rem;margin-bottom: 1rem;}
.etc .text dt {width: 5rem;font-size: 0.95rem;margin-bottom: 0.3rem;}
.etc .text dd {font-weight: 300;}

.etc .text ul li a {display: block;text-align: center;font-size: 0.95rem;width: 8rem;line-height: 3rem;border: 1px solid var(--dc);}











/* --------------------- */
.profile {}
.profile .Pro_container {display: flex;align-items: center;width: 60rem;margin: 0 auto;border-radius: 2rem;padding: 1rem 0;overflow: hidden;}
.profile .leftPro {width: 25%;padding: 0 0 0 1rem;}
.profile .leftPro .title {display: block;font-size: 1.5rem;font-weight: 700;margin-bottom: 2rem;}
.profile .leftPro figure {width: 10rem;height: 10rem;border-radius: 50%;margin-bottom: 1.5rem;overflow: hidden;} 

.profile .leftPro figure img {width: 100%;}

.profile .leftPro .personal strong {display: block;font-size: 0.95rem;font-weight: 400;letter-spacing: 0.05em;margin-bottom: 0.5rem;}
.profile .leftPro .personal em {display: block;font-size: 0.75rem;font-weight: 300;margin-bottom: 1.5rem;}
.profile .leftPro .personal span {display: block;font-size: 0.85rem;font-weight: 300;letter-spacing: 0.05em;margin-bottom: 0.5rem;}
.profile .leftPro .personal span i {margin-right: 0.5rem;}


.profile .rightPro {width: 50%;padding: 0 2rem;border-right: 2px dashed #ddd;border-left: 2px dashed #ddd;}
.profile .rightPro>div {margin-bottom: 4.5rem;}
.profile .rightPro strong {display: block;font-size: 1rem;font-weight: 700;margin-bottom: 1rem;}
.profile .rightPro strong:after {content: "";display: block;width: 100%;height: 2px;background: var(--sc);margin: 0.75rem 0;}
.profile .rightPro .education span {display: inline-block;font-size: 0.85rem;font-weight: 400;margin-bottom: 0.5rem;}
.profile .rightPro .license span {display: block;font-size: 0.85rem;font-weight: 400;margin-bottom: 0.5rem;}
.profile .rightPro em {display: inline-block;font-size: 0.85rem;font-weight: 300;width: 8rem;}
.profile .rightPro .skill .icon {display: flex;align-items: center;}
.profile .rightPro .skill .icon>* {margin: 0 0.5rem;}
.profile .rightPro .skill i {font-size: 1.5rem;}
.profile .rightPro .skill span {display: block;width: 1.3rem;line-height: 1.3rem;background: var(--dc);color: var(--lc);text-align: center;border-radius: 50%;vertical-align: middle;}


.profile .site {width: 25%;padding: 0 2rem;text-align: center;}
.profile .site strong {display: block;font-size: 1.5rem;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 0.5rem;}
.profile .site a {display: block;width:7.5rem;line-height: 2rem;background: var(--mc);margin: 1rem auto;font-size: 0.95rem;transition: 0.4s;}
.profile .site a:hover {background: var(--sc);color: var(--lc);}



#cover {display: none;position: fixed;top: 0;left: 0;background: var(--dc);width: 100%;height: 100vh;z-index: 998;}
#cover .coverWrap {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
#cover .cNav {margin-bottom: 2rem;}
#cover .cNav>li {}
#cover .cNav>li>a {position: relative;font-size: 2.3rem;font-weight: 900;line-height: 1.8;color: var(--dc);text-shadow: -2px 0 var(--lc), 0 2px var(--lc), 2px 0 var(--lc), 0 -2px var(--lc);}
#cover .cNav>li>a:after {content: "";display: block;position: absolute;bottom: -0.3rem;left: 50%;transform: translateX(-50%);width: 0;height: 0.2rem;background: var(--mc);transition: 0.3s;}
#cover .cNav>li>a:hover:after {width: 120%;}
#cover .cNav>li>a.on:after {content: "";display: block;position: absolute;bottom: -0.2rem;left: 50%;transform: translateX(-50%);width: 120%;height: 0.2rem;background: var(--sc);}

#cover .cNav .d_nav {display: none;font-size: 1rem;font-weight: 300;line-height: 1.7;padding: 1rem 0.5rem;color: var(--gc);}
#cover .cNav .d_nav em {font-size: 0.75rem;font-weight: 500;padding: 0 1rem 0 0;}


#cover .messenger>li {font-size: 0.95rem;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 0.5rem;color: var(--lc);}





#footer .toTop {position: fixed;bottom: 3rem;right: 3rem;z-index: 999;}
#footer .toTop i {font-size: 1.5rem;padding: .5rem;background: var(--lc);border-radius: 50%;}
#footer address {position: fixed;bottom: 3rem;left: 3rem;z-index: 999;}
















@media (max-width:768px) {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

    :root {
        --mc:#d7eaff;
        --sc:#56628F;
        --lc:#fff;
        --dc:#444444;
        --gc:#dddddd;
    }

    html {font-size: 20px;}
    body {font-size: 0.8rem;color: var(--dc);}



    #Wrap {min-width: auto;}

    section {height: 100vh !important;}
    .fp-tableCell {height: auto !important;}


    #header h1 {position: fixed;top: 0.75rem;left: 0.75rem;z-index: 999;}
    #header h1 a {display: block;width: auto;}



    /* * {outline: 1px solid #ff0;} */



    #header nav {display: none;position: fixed;top: 50%;right: 3rem;transform: translateY(-50%);z-index: 888;}
    #header .cover_btn {position: fixed;top: 0.75rem;right: 0.75rem;width: 2rem;height: 2rem;cursor: pointer;z-index: 999;}
    #header .cover_btn span {position: absolute;top: 0;right: 0;display: block;font-size: 0;text-indent: -999999rem;background: var(--dc);width: 2rem;height: 0.1rem;transition: 0.3s;}

    #header .cover_btn span.on {background: var(--lc);}

    #header .cover_btn span:nth-child(2) {top: 1rem;}
    #header .cover_btn span:nth-child(3) {top: 1rem;}
    #header .cover_btn span:nth-child(4) {top: 2rem;}

    #header .cover_btn.on span:nth-child(1) {opacity: 0;}
    #header .cover_btn.on span:nth-child(2) {transform: rotate(45deg);}
    #header .cover_btn.on span:nth-child(3) {transform: rotate(-45deg);}
    #header .cover_btn.on span:nth-child(4) {opacity: 0;}






    #header nav li a {position: relative;display: block;width: 3rem;height: 1rem;text-indent: -9999px;}
    #header nav li a:after {content: "";position: absolute;top: 0.35rem;right: 0;display: block;width: 40%;height: 1px;background: var(--dc);border-radius: 0.15rem;transition: 0.3s;}
    #header nav li.on a:after {width: 70%;}



    .intro {background-color: var(--mc);overflow: hidden;}
    .intro .intro_container {display: flex;flex-direction: column;align-items: center;position: relative;width: auto;margin: 0 auto;padding: 0 0.75rem;}
    .intro .slogan {}
    .intro .slogan span {font-size: 0.95rem;letter-spacing: 0.05em;line-height: 1.4;}
    .intro .slogan h2 {font-size: 3rem;font-weight: 900;margin-bottom: 5rem;text-indent: -7px;}

    .intro .introduce {}
    .intro .main_me {position: relative;width: 100%;margin: 0 auto;text-align: center;z-index: 1;}
    .intro .main_me img {width: 10rem;transform: translateX(-10rem);opacity: 0;}
    .intro .main_me pre {position: absolute;top: -2rem;right: 50%;transform: translateX(10rem);opacity: 0;width: 13rem;height: 13rem;border-radius: 50%;overflow: hidden;font-family: 'Open Sans', sans-serif;font-size: 0.75rem;z-index: -1;}


    .intro.on .main_me img {transform: translateX(0);opacity: 1;transition: 0.5s;}
    .intro.on .main_me pre {transform: translateX(50%);opacity: 1;transition: 0.5s;}


    .intro .wheel {display: none;position: absolute;bottom: 3rem;left: 50%;transform: translateX(-50%);width: 1.5rem;height: 2.5rem;border: 2px solid var(--dc);font-size: 0;border-radius: 0.7rem;opacity: 0.5;}
    .intro .wheel span {position: absolute;top: 0.3rem;left: 50%;transform: translateX(-50%);width: 0.2rem;height: 0.5rem;background: var(--dc);border-radius: 0.1rem;animation: wheel 0.8s infinite;}

    @keyframes wheel {
        to {top: 0.6rem}
    }




    /* --------------------- */

    

    .pf {overflow: hidden;background-color: #fff7e0;}
    .pf .container {display: flex;flex-direction: column;align-items: center;width: auto;margin: 0 auto;padding: 0 0.75rem;height: auto;}

    .pf .m_img {display: block;margin-bottom: 2rem;}
    .pf .m_img figure {position: relative;width: calc(100vw - 1.5rem);height: 9rem;margin: 0 auto;overflow: hidden;}
    .pf .m_img figure img {position: absolute;top: 0;left: 0;width: 100%;}
    .pf .m_img figure.on img {transform: translateY(-100%);top: 100%;transition: 3s;}

    .pf .text {flex: 1;padding: 0 0;width: 100%;}
    .pf .text h2 {display: inline-block;font-size: 1.25rem;font-weight: 700;margin-bottom: 1rem;}
    .pf .text h2 span {display: inline-block;font-size: 0.75rem;font-weight: 100;margin-right: 0.5rem;}
    .pf .text strong {display: inline-block;font-size: 0.75rem;font-weight: 300;margin: 0 0 0 0;float: right;line-height: 1.25rem;}

    .pf .text dl {margin-bottom: 0.5rem;padding: 0 1rem;}
    .pf .text dt {display: inline-block;width: 5rem;font-size: 0.85rem;}
    .pf .text dd {display: inline-block;font-weight: 300;vertical-align: top;}
    .pf .text dd br {display: block;}

    .pf .text .color {margin-bottom: 1rem;}
    .pf .text .color dt {display: inline-block;margin-bottom: 0;vertical-align: top;}
    .pf .text .color dd {padding: 0 0;font-size: 0;}
    .pf .text .color dd:nth-of-type(1) {padding: 0 0 0 0;}
    .pf .text .color dd em {display: block;width: 1rem;height: 1rem;background: #FFBA00;border-radius: 50%;margin-bottom: 0.4rem;}
    .pf .text .color dd:nth-of-type(2) em {background: #335577;}

    .pf .text p {display: none;line-height: 1.4;font-weight: 300;margin-bottom: 2rem;}

    .pf .text ul {display: flex;gap: 1rem;padding: 0 1rem;}
    .pf .text ul li a {display: block;text-align: center;font-size: 0.85rem;background: var(--lc);width: 7rem;line-height: 2.3rem;}
     
 


    .pf .pageImg {display: none;position: relative;flex: 1;height: 100%;}
    .portfolio_01 .pageImg:before {content: "";display: none;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(20deg);width: 90%;height: 200%;background-image: url(../img/main_jeep.png);background-position: center center;background-size: 100%;}



    .portfolio_02 {background: #ffeceb;}
    .portfolio_02 .text .color dd em {background: #EC3029;}
    .portfolio_02 .pageImg .hot_mock01 {position: absolute;top: 50%;left: -20%;transform: translateY(-50%);}
    .portfolio_02 .pageImg .hot_mock01 img {width: 44rem;}
    .portfolio_02 .pageImg .hot_mock02 {position: absolute;top: 36%;left: -18%;}
    .portfolio_02 .pageImg .hot_mock02 img {width: 10rem;}



    .portfolio_03 {background: #fff5f9;}
    .portfolio_03 .text .color dd em {background: #fed4e2;}
    .portfolio_03 .text .color dd:nth-of-type(2) em {background: #F4F4F4;border: 1px solid var(--gc);}
    .portfolio_03 .pageImg:before {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(20deg);width: 90%;height: 200%;background-image: url(../img/main_alloso.png);background-position: center center;background-size: 100%;}



    .portfolio_04 {background: #ffefe2;}
    .portfolio_04 .text .color dd em {background: #4E433B;}
    .portfolio_04 .text .color dd:nth-of-type(2) em {background: #9E876B;}
    .portfolio_04 .pageImg .hot_mock01 {position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
    .portfolio_04 .pageImg .hot_mock01 img {width: 35rem;}



    .portfolio_05 {background: #e9f4ff;}
    .portfolio_05 .text .color dd em {background: #003976;}
    .portfolio_05 .text .color dd:nth-of-type(2) em {background: #2D4F3F;}
    .portfolio_05 .pageImg:before {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) rotate(20deg);width: 90%;height: 200%;background-image: url(../img/main_school.png);background-position: center center;background-size: 100%;}








    .etc {height: 100vh;overflow: hidden;background: var(--gc);}
    .etc .container {display: flex;flex-direction: column;justify-content: space-between;align-items: center;width: auto;margin: 0 auto;height: auto;}
    .etc .etc_wrap {position: relative;width: 100%;}
    
    .etc .container .case {background: var(--lc);padding: 2rem 1rem;border-radius: 1rem;margin: 0 0.75rem 1rem 0.75rem;}
    .etc h2 {display: inline-block;font-size: 1.25rem;font-weight: 700;margin-bottom: 1rem;}
    .etc h2 span {display: inline-block;font-size: 0.75rem;font-weight: 100;margin-right: 0.5rem;}
    
    .etc .case figure {position: relative;width: 100%;height: 10rem;overflow: hidden;margin-bottom: 1rem;border: 1px solid var(--gc);border-radius: 0.6rem;}
    .etc .case figure img {position: absolute;top: 0;left: 0;width: 100%;}
    .etc .case figure:hover img {transform: translateY(0);top: 0;transition: none;}
    .etc .case figure.on img {transform: translateY(-100%);top: 100%;transition: 3s;}

    .etc .text {padding: 0 1rem;}
    .etc .text dl {margin-bottom: 0.75rem;margin-bottom: 1rem;}
    .etc .text dt {width: 5rem;font-size: 0.95rem;margin-bottom: 0.3rem;}
    .etc .text dd {font-weight: 300;line-height: 1.4;}

    .etc .text ul li a {display: block;text-align: center;font-size: 0.85rem;background: var(--lc);width: 7rem;line-height: 2.3rem;}
     
    .etc .etc_wrap .slick-dots {display: flex;justify-content: center;gap: 0.75rem;}
    .etc .etc_wrap .slick-dots li {width: 0.5rem;height: 0.5rem;background: var(--lc);border-radius: 50%;}
    .etc .etc_wrap .slick-dots li.slick-active {background: var(--dc);}
    .etc .etc_wrap .slick-dots li button {display: none;}

    .etc .etc_wrap:after {content:"\ea21";font-family: xeicon;display: block;position: absolute;bottom: 1.5rem;left: 50%;font-size: 1.5rem;color: rgba(51, 51, 51, 0.7);animation: 1s hand infinite;}

    @keyframes hand {
        to {transform: translateX(-5rem);opacity: 0;}
    }
    



    /* --------------------- */
    .profile {}
    .profile .Pro_container {display: flex;align-items: center;width: auto;margin: 0 auto;border-radius: 2rem;padding: 1rem 0;overflow: hidden;}
    .profile .leftPro {width: 25%;padding: 0 0 0 1rem;}
    .profile .leftPro .title {display: block;font-size: 1.5rem;font-weight: 700;margin-bottom: 2rem;}
    .profile .leftPro figure {width: 10rem;height: 10rem;border-radius: 50%;margin-bottom: 1.5rem;overflow: hidden;} 

    .profile .leftPro figure img {width: 100%;}

    .profile .leftPro .personal strong {display: block;font-size: 0.95rem;font-weight: 400;letter-spacing: 0.05em;margin-bottom: 0.5rem;}
    .profile .leftPro .personal em {display: block;font-size: 0.75rem;font-weight: 300;margin-bottom: 1.5rem;}
    .profile .leftPro .personal span {display: block;font-size: 0.85rem;font-weight: 300;letter-spacing: 0.05em;margin-bottom: 0.5rem;}
    .profile .leftPro .personal span i {margin-right: 0.5rem;}


    .profile .rightPro {width: 50%;padding: 0 2rem;border-right: 2px dashed #ddd;border-left: 2px dashed #ddd;}
    .profile .rightPro>div {margin-bottom: 4.5rem;}
    .profile .rightPro strong {display: block;font-size: 1rem;font-weight: 700;margin-bottom: 1rem;}
    .profile .rightPro strong:after {content: "";display: block;width: 100%;height: 2px;background: var(--sc);margin: 0.75rem 0;}
    .profile .rightPro .education span {display: inline-block;font-size: 0.85rem;font-weight: 400;margin-bottom: 0.5rem;}
    .profile .rightPro .license span {display: block;font-size: 0.85rem;font-weight: 400;margin-bottom: 0.5rem;}
    .profile .rightPro em {display: inline-block;font-size: 0.85rem;font-weight: 300;width: 8rem;}
    .profile .rightPro .skill .icon {display: flex;align-items: center;}
    .profile .rightPro .skill .icon>* {margin: 0 0.5rem;}
    .profile .rightPro .skill i {font-size: 1.5rem;}
    .profile .rightPro .skill span {display: block;width: 1.3rem;line-height: 1.3rem;background: var(--dc);color: var(--lc);text-align: center;border-radius: 50%;vertical-align: middle;}


    .profile .site {width: 25%;padding: 0 2rem;text-align: center;}
    .profile .site strong {display: block;font-size: 1.5rem;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 0.5rem;}
    .profile .site a {display: block;width:7.5rem;line-height: 2rem;background: var(--mc);margin: 1rem auto;font-size: 0.95rem;transition: 0.4s;}
    .profile .site a:hover {background: var(--sc);color: var(--lc);}



    #cover {display: none;position: fixed;top: 0;left: 0;background: var(--dc);width: 100%;height: 100vh;z-index: 998;}
    #cover .coverWrap {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
    #cover .cNav {margin-bottom: 2rem;}
    #cover .cNav>li {}
    #cover .cNav>li>a {position: relative;font-size: 2.3rem;font-weight: 900;line-height: 1.3;color: var(--dc);text-shadow: -2px 0 var(--lc), 0 2px var(--lc), 2px 0 var(--lc), 0 -2px var(--lc);}
    #cover .cNav>li>a:after {content: "";display: block;position: absolute;bottom: -0.3rem;left: 50%;transform: translateX(-50%);width: 0;height: 0.2rem;background: var(--mc);transition: 0.3s;}
    #cover .cNav>li>a:hover:after {width: 0;}
    #cover .cNav>li>a.on:after {content: "";display: block;position: absolute;bottom: -0.2rem;left: 50%;transform: translateX(-50%);width: 120%;height: 0.2rem;background: var(--sc);}

    #cover .cNav .d_nav {display: none;font-size: 1rem;font-weight: 300;line-height: 1.7;padding: 1rem 0.5rem;color: var(--gc);}
    #cover .cNav .d_nav em {font-size: 0.75rem;font-weight: 500;padding: 0 1rem 0 0;}


    #cover .messenger>li {font-size: 0.95rem;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 0.5rem;color: var(--lc);}



    
    .profile .Pro_container {display: flex;flex-direction: column;align-items: center;width: auto;margin: 0 auto;padding: 1rem;overflow: hidden;}
    .profile .leftPro {width: 100%;padding: 1.5rem;margin: 0 auto 2rem auto;border: 3px solid var(--mc);border-radius: 2rem;}
    .profile .leftPro .title {display: block;font-size: 1.05rem;font-weight: 700;margin-bottom: 2rem;color: var(--sc);}
    .profile .leftPro figure {width: 10rem;height: 10rem;border-radius: 50%;margin: 0 auto 1.5rem auto;overflow: hidden;} 

    .profile .leftPro .personal strong {display: block;font-size: 1.05rem;font-weight: 500;letter-spacing: 0.05em;margin-bottom: 0.5rem;text-align: center;}
    .profile .leftPro .personal em {display: block;font-size: 0.85rem;margin-bottom: 1.5rem;text-align: center;}
    .profile .leftPro .personal span {display: block;font-size: 0.75rem;letter-spacing: 0.05em;margin-bottom: 0.5rem;}
    .profile .leftPro .personal span i {margin-right: 0.5rem;}


    .profile .rightPro {display: none;width: 100%;padding: 0 0;border-right: none;border-left: none;}
    .profile .rightPro>div {margin-bottom: 4.5rem;}
    .profile .rightPro strong {display: block;font-size: 1rem;font-weight: 700;margin-bottom: 1rem;}
    .profile .rightPro strong:after {content: "";display: block;width: 100%;height: 2px;background: var(--mc);margin: 0.75rem 0;}
    .profile .rightPro .education span {display: block;font-size: 0.85rem;font-weight: 400;margin-bottom: 0.5rem;}
    .profile .rightPro .license span {display: block;font-size: 0.85rem;font-weight: 400;margin-bottom: 0.5rem;}
    .profile .rightPro em {display: inline-block;font-size: 0.85rem;font-weight: 300;width: 8rem;}
    .profile .rightPro .skill .icon {display: flex;align-items: center;}
    .profile .rightPro .skill .icon>* {margin: 0 0.5rem;}
    .profile .rightPro .skill i {font-size: 1.5rem;}
    .profile .rightPro .skill span {display: block;width: 1.3rem;line-height: 1.3rem;background: var(--dc);color: var(--mc);text-align: center;border-radius: 50%;vertical-align: middle;}


    .profile .site {width: 100%;padding: 0 0;text-align: center;}
    .profile .site strong {display: block;font-size: 1.5rem;font-weight: 700;letter-spacing: 0.05em;margin-bottom: 1rem;color: var(--sc);}
    .profile .site a {display: inline-block;text-align: center;width:7.5rem;line-height: 2rem;background: var(--mc);margin: 0 0.3rem;font-size: 0.95rem;}




    #footer .toTop {position: fixed;bottom: 0.75rem;right: 0.75rem;z-index: 999;}
    #footer .toTop i {font-size: 1.5rem;padding: .5rem;background: var(--lc);border-radius: 50%;}
    #footer address {position: fixed;bottom: 0.75rem;left: 0.75rem;z-index: 999;}


}