@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');



body {color: #333;}

#wrap {min-width: 1900px;}


#header {line-height: 100px;}
#header h1 img {width: 300px;}

#header .container {display: flex;width: 1200px;margin: 0 auto;padding: 0 15px;}
#header nav {margin-left: auto;}
#header nav>ul {display: flex;}
#header nav>ul>li>a {display: block;padding: 0 30px;font-size: 20px;}
#header nav>ul>li {position: relative;}

#header nav>ul>li>ul {display: none;position: absolute;top: 80px;left: 50%;transform: translateX(-50%);width: 270px;text-align: center;background: #fff;padding: 30px 0;border: 1px solid #333;z-index: 999;}
#header nav>ul>li>ul>li>a {display: block;line-height: 47px;background: #fff;z-index: 999;font-size: 24px;letter-spacing: -0.025em;}
#header nav>ul>li>ul>li:hover>a {color: #029570;} 
#header nav>ul>li:hover>ul {display: block;}
#header nav>ul>li:hover>a {color: #029570;}


#header .nav_icon {font-size: 24px;margin-left: 50px;}
#header .nav_icon i {padding: 0 0 0 15px;}



#main_visual .main_slider {position: relative;}
#main_visual figure {height: 800px;position: relative;}
#main_visual .main_slider01 {background: url(../img/main_visual01.jpg) no-repeat center center/cover;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
#main_visual .main_slider02 {background: url(../img/main_visual02.jpg) no-repeat center center/cover;}
#main_visual .main_slider03 {background: url(../img/main_visual03.jpg) no-repeat center center/cover;}
#main_visual .slg {position: absolute;top: 170px;left: 50%;transform: translateX(-50%);text-align: center;}
#main_visual .slg p {font-weight: 900;letter-spacing: 0.05em;margin-bottom: 11px;color: #fff;}
#main_visual .slg h2 {font-size: 50px;font-weight: 300;letter-spacing: 0.026em;color: #fff;font-family: 'Noto Serif KR', serif;}
#main_visual .main_slider01 .slg p {font-weight: 900;letter-spacing: 0.05em;margin-bottom: 11px;color: #333;}
#main_visual .main_slider01 .slg h2 {font-size: 50px;font-weight: 300;letter-spacing: 0.026em;color: #333;}

#main_visual .slick-dots {display: flex;position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);}
#main_visual .slick-dots li {background: #d9d9d9;width: 15px;height: 15px;margin: 0px 10px 40px 10px;border-radius: 50%;cursor: pointer;}
#main_visual .slick-dots li.slick-active {background: #029570;}
#main_visual .slick-dots li button {display: none;}






#section01 {padding: 150px;text-align: center;}
#section01 .container  {display: flex;width: 1200px;margin: 0 auto;}
#section01 h2 {font-size: 34px;font-weight: 700;letter-spacing: 0.025em;margin-bottom: 10px;}
#section01 p {font-size: 20px;font-weight: 500;letter-spacing: 0.025em;margin-bottom: 40px;}
#section01 figure {flex: 1;padding: 0 15px;}
#section01 figure strong {display: block;font-weight: 700;letter-spacing: 0.025em;margin-bottom: 4px;}
#section01 figure span {display: block;font-size: 14px;letter-spacing: 0.025em;}
#section01 figure img {background: #f4f4f4;border-radius: 50%;margin-bottom: 15px;transition: 0.4s;}
#section01 figure:hover img {transform: translate(-5px, -10px);box-shadow: 2px 2px 2px #333;} 




#section02{text-align: center;}
#section02 h2 {font-size: 34px;font-weight: 700;letter-spacing: 0.025em;margin-bottom: 10px;}
#section02 p {font-size: 20px;font-weight: 500;letter-spacing: 0.025em;margin-bottom: 40px;}
#section02 .container{position: relative;margin: 0 auto;padding: 0;}
#section02 .section01_bg {height: 500px;background: url(../img/se01_bg.jpg) no-repeat center center/cover ;background-attachment: fixed;padding: 150px 0 0 0;color: #fff;}
#section02 figure {position: absolute;top: 400px;left: 50%;transform: translateX(-50%);opacity: 0;transition: 1s;}
#section02 figure.on {top: 260px;opacity: 1;}
#section02 figure img {margin-bottom: 40px;}
#section02 figure img {margin-bottom: 40px;}
#section02 figure strong {display: block;font-size: 20px;letter-spacing: -0.025em;line-height: 24px;}
#section02 a {display: block;margin: 25px auto 0 auto;line-height: 50px;width: 150px;background: #fff;border: 1px solid #333;border-radius: 30px;}
#section02 a:hover {background: #333;color: #fff;}



#no {height: 463px;background: #fff;}








#section03 {padding: 150px 0;text-align: center;background: #f7f7f7;}
#section03 .container {display: flex;width: 1200px;margin: 0 auto;}
#section03 h2 {font-size: 34px;font-weight: 700;letter-spacing: 0.025em;margin-bottom: 10px;}
#section03 p {font-size: 20px;font-weight: 500;letter-spacing: 0em;margin-bottom: 40px;}
#section03 figure {flex: 1;padding: 0 15px;}
#section03 figure .case {position: relative;margin-bottom: 20px;overflow: hidden;border-radius: 30px;}
#section03 figure .case img {transition: 0.5s;}
#section03 figure .case:hover img {transform: scale(1.1);}
#section03 strong {display: block;font-size: 20px;font-weight: 700;letter-spacing: 0.025em;margin-bottom: 10px;}
#section03 span {display: block;font-size: 16px;font-weight: 400;letter-spacing: -0.05em;margin-bottom: 10px;line-height: 18px;}
#section03 figure .cover {display: none;}
#section03 .case:hover .cover {display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 150px;line-height: 150px;border-radius: 50%;background: rgba(0, 0, 0, 0.4);font-size: 30px;color: #fff;}



#section04 {position: relative;padding: 150px 0;text-align: center;}
#section04 .container {width: 1200px;margin: 0 auto;}
#section04 h2 {font-size: 34px;font-weight: 700;letter-spacing: 0.025em;margin-bottom: 10px;}
#section04 p {font-size: 20px;font-weight: 500;letter-spacing: -0.025em;margin-bottom: 40px;}
#section04 figure {padding: 0 15px;}
#section04 figure img {width: 100%;margin-bottom: 20px;border-radius: 30px;}
#section04 figure strong {display: block;font-size: 18px;font-weight: 700;letter-spacing: 0.025em;margin-bottom: 10px;}
#section04 figure span {display: block;font-size: 16px;font-weight: 400;letter-spacing: 0em;margin-bottom: 10px;}

#section04 .slick-dots {display: flex;justify-content: center;}
#section04 .slick-dots li {width: 15px;height: 15px;border-radius: 50%;background: #d9d9d9;margin: 40px 10px 0 10px;cursor: pointer;}
#section04 .slick-dots li.slick-active {background: #029570;}
#section04 .slick-dots li button {display: none;}
#section04 .section04_btn i {position: absolute;top: 367px;left: 50%;transform: translate(-50%, -50%);font-size: 36px;padding: 10px;cursor: pointer;}
#section04 .xi-angle-left {margin-left:-614px;}
#section04 .xi-angle-right {margin-left:614px;}





#section05 {padding: 150px 0;text-align: center;background: #f7f7f7;}
#section05 h2 {font-size: 34px;font-weight: 700;letter-spacing: -0.025em;margin-bottom: 10px;}
#section05 p {font-size: 20px;font-weight: 500;letter-spacing: 0.025em;margin-bottom: 40px;}
#section05 .container01 {display: flex;flex-wrap: wrap;width: 1200px;margin: 0 auto;margin-bottom: 30px;}
#section05 .container01 img {transition: 0.5s;cursor: pointer;}
#section05 .container01 img:hover {transform: translate(-10px,-15px);box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.4)}
#section05 .container02 {display: flex;width: 1200px;margin: 0 auto;}
#section05 figure {width: 25%;padding: 0 15px;margin-bottom: 30px;}
#section05 a {display: block;font-weight: 500;letter-spacing: 0.05em;padding: 9px 0 12px 0;width: 90px;border: 1px solid #333;margin: 30px auto;border-radius: 20px;}
#section05 a:hover {background: #333;color: #fff;}



#footer {}
#footer .container {display: flex;width: 1200px;margin: 0 auto;padding: 0 15px;}
#footer .address01 {padding: 50px 0;background: #3c3c3c;color: #f4f4f4;}
#footer .address01 .footer01 {display: flex;font-weight: 500;}
#footer .address01 .footer01>li>a {padding: 0 60px 0 0;}
#footer .address01 .footer01>li{position: relative;}
#footer .address01 .footer01>li~li>a:after {content: "";display: block;width: 1px;height: 13px;background: #666;position: absolute;top:10%;left: -31px;}

#footer .address01 .footer02 {display: flex;margin-left: auto;font-size: 14px;font-weight: 300;}
#footer .address01 .footer02>li>a {padding: 0 0 0 30px;}


#footer .address02 {padding: 40px 0 50px 0;background: #333;color: #f4f4f4;}
#footer .address02 .container strong {font-size: 14px;font-weight: 300;line-height: 24px;} 
#footer .address02 .container .copy {display: block;margin-top: 30px;font-size: 14px;font-weight: 100;}
#footer .address02 .service {margin-left: auto;text-align: right;}
#footer .address02 .service strong {display: block;font-size: 24px;font-weight: 500;margin-bottom: 10px;}
#footer .address02 .service span {display: block;font-size: 14px;margin-bottom: 20px;}
#footer .address02 .sns {font-size: 30px;}




#popup {position: absolute;top: 130px;left: 50%;transform: translateX(-50%);width: 600px;height: 800px;border: 1px solid #333;overflow: hidden;}
#popup .case {position: absolute;top: 150px;left: 50%;transform: translateX(-50%);text-align: center;width: 100%;}
#popup .case h2 {font-size: 30px;font-weight: 700;letter-spacing: 0.025em;line-height: 30px;margin-bottom: 52px;color: #fff;}
#popup .case p {font-size: 18px;font-weight: 400;letter-spacing: 0em;line-height: 24px;margin-bottom: 48px;color: #fff}
#popup .case a {display: block;margin: 0 auto;line-height: 50px;width: 150px;border-radius: 25px;background: #fff;color: #333;font-size: 20px;font-weight: 500;}
#popup i {position: absolute;bottom: 15px;right: 15px;font-size: 48px;color: #fff;cursor: pointer;}


#toTop {display: none;position: fixed;bottom: 80px;right: 100px;cursor: pointer;}
#toTop i {padding: 5px;border-radius: 50%;font-size: 20px;color: #fff;background: #029570;}
